/* css reset */
@import url(./reset.css);

/* Root Variables */
:root {
  --color-Light-red: hsl(0, 100%, 67%);
  --color-Orange-yellow: hsl(39, 100%, 56%);
  --color-Green-teal: hsl(166, 100%, 37%);
  --color-Cobalt-blue: hsl(234, 85%, 45%);
  --color-Light-slate-blue: hsla(256, 72%, 46%, 1);
  --color-Light-royal-blue: hsla(241, 81%, 54%, 0.8);
  --color-Violet-blue: hsla(256, 72%, 46%, 1);
  --color-Persian-blue: hsla(241, 72%, 46%, 0.01);
  --White: hsl(0, 0%, 100%);
  --Pale-blue: hsl(221, 100%, 96%);
  --Light-lavender: hsl(241, 100%, 89%);
  --Dark-gray-blue: hsl(224, 30%, 27%);
}

/* styled for mobile generally */

/* styling main */
body {
  background-color: var(--Pale-blue);
  display: flex;
  justify-content: center;
}
main {
  width: 100vw;
  height: auto;
  display: flex;
  flex-direction: column;
  font-size: 1.125rem;
  background-color: var(--Pale-blue);
}

/* styling resultSection */
.resultSection {
  background: linear-gradient(
    to top,
    var(--color-Light-slate-blue),
    var(--color-Light-royal-blue)
  );
  border: none;
  border-radius: 0 0 2.5rem 2.5rem;
  display: grid;
  color: var(--Light-lavender);
  padding: 2em 2em;
}

.resultSection #title {
  justify-self: center;
  padding-bottom: 1em;
}

#circle {
  background: linear-gradient(
    to top,
    var(--color-Persian-blue),
    var(--color-Violet-blue)
  );
  display: flex;
  flex-direction: column;
  justify-self: center;
  justify-content: center;
  width: 9em;
  height: 9em;
  border-radius: 4.5em;
  border-color: var(--color-Light-royal-blue);
}
#circle h1 {
  color: white;
  font-weight: 800;
  font-size: 3rem;
  text-align: center;
}
#circle h3 {
  padding: 0 3em;
  font-size: 1rem;
  text-align: center;
}

.resultSection h2 {
  justify-self: center;
  color: white;
}
.resultSection p {
  text-align: center;

  padding: 1em 0;
}

/* styling section summary */

.summarySection {
  color: var(--Dark-gray-blue);
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 3em;
  font-size: 0.7em;
}
.summarySection #title b {
  font-style: bold;
  font-weight: 700;
  font-size: 1.1rem;
}

.summarySection .div {
  border-radius: 0.5em;
  border: none;
  display: flex;
  flex-direction: row;
  padding: 1em 1em;
  gap: 0.3em;
  font-weight: 600;
}
.feature {
  align-self: center;
}

.grade {
  display: flex;
  gap: 0.6em;
  padding-left: 8.3em;
  align-self: center;
}

#reaction {
  background-color: hsla(0, 39%, 56%, 0.1);
  color: hsla(0, 39%, 56%);
  display: flex;
}

#memory {
  background-color: hsl(39, 100%, 56%, 0.1);
  color: hsl(39, 100%, 56%);
}
#verbal {
  background-color: hsl(166, 100%, 37%, 0.1);
  color: hsl(166, 100%, 37%);
}
#visual {
  background-color: hsla(256, 72%, 46%, 0.1);
  color: hsla(256, 72%, 46%);
}
#visual .grade,
#verbal .grade {
  padding-left: 9em;
}

span {
  color: hsl(224, 30%, 27%, 0.3);
}

button {
  background-color: var(--Dark-gray-blue);
  color: white;
  border: none;
  width: 100%;
  height: 3em;
  border-radius: 3em;
}

button:hover {
  cursor: pointer;
  background: linear-gradient(
    to top,
    var(--color-Light-slate-blue),
    var(--color-Light-royal-blue)
  );
}

/* styling for desktop */
@media (min-width: 800px) {
  body {
    display: flex;
    justify-content: center;
    padding-top: 5em;
  }
  main {
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-self: center;
    width: 60%;
    height: auto;
    border-radius: 1em;
  }
  .resultSection {
    border-radius: 1em;
  }
  .resultSection p {
    text-align: center;
  }

  /* styling sectionSummary */

  .summarySection {
    color: var(--Dark-gray-blue);
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 3em;
    font-size: 0.7em;
  }

  .summarySection .div {
    border-radius: 0.5em;
    border: 0;
    display: flex;
    flex-direction: row;
    gap: 0.3em;
  }
}
